

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajusta la altura según tu diseño */
}
  
  .header { grid-area: header; width: 100%;}
  
  .main { 
    grid-area: main;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    }
  
  .footer {
    grid-area: footer; 
    width: 100%;
    background-color: lightslategray;
    font-family: 'Times New Roman', Times, serif;
    
    bottom: 0;
  }
  


  a {
    color: black; 
    text-decoration: none; 
    font-family: 'Times New Roman', Times, serif;
}

.letra {
  color: black; 
  text-decoration: none; 
  font-family: 'Times New Roman', Times, serif;
}


#fondoimagen {
    background-image: url(/imagenes/avion.jpg);
}

.contenedor1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: space-around;
  background-color: lightslategray;
  height: 50px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

}




.contenedor2{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  
}


.centrar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: space-evenly;
  position: relative;
  height: auto;
  z-index: 0; /* Para que las cards aparezcan por encima de la navbar desplegable, SI NO EL NAVBAR QUEDA POR ABAJO DE LAS CARDS */
} 

.texto {
  margin-top: 20px;
}

.imagen {
  margin-top: 20px;
  width: 450px;
}


.contenidoTienda {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;

}

.card {
max-width: 300px;
margin: auto;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 50px;

}

.card > img {
  width: 100%;
  max-height: 250px;
}

.precio {
  color: rgb(74, 73, 73);
  font-size: 22px;
  }



.card button {
  border: none;
  padding: 12px;
  color: white; 
  background-color: rgba(0, 0, 0, 0.789);
  text-align: center;
  cursor:pointer;
  width: 100%;
  font-size: 18px;
}





.headerTotal {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: white;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}


.total-contenido {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

.tituloheader {
  justify-self: start;
}

.boton-salir {
  cursor: pointer;
  color: red;
  display:flex;align-items:center; justify-content:center;
}

.headerTotal > .contenido-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 10px;
}

.headerTotal > .contenido-carrito > img {
  width: 100%;
  max-width: 150px;
  max-height: 50%;
}

.ver-carrito {
  cursor: pointer;
}

@media (max-width: 600px) {
  .cards{
flex-direction: column;
  }
  .container {
    height: 200vh; 
  }
  .texto {
    margin-top: 8vw;
  }
  .imagen {
    margin-top: 8vw;
    width: 90%
  }
    
}

.titulo-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100px; /* Ajusta la altura según tu diseño */
}

