

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajusta la altura según tu diseño */
}
  
  .header { grid-area: header; width: 100%;}
  
  .main { 
    grid-area: main;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    }
  
  .footer {
    grid-area: footer; 
    width: 100%;
    background-color: lightslategray;
    font-family: 'Times New Roman', Times, serif;
    
    bottom: 0;
  }
  


  a {
    color: black; 
    text-decoration: none; 
    font-family: 'Times New Roman', Times, serif;
}

.letra {
  color: black; 
  text-decoration: none; 
  font-family: 'Times New Roman', Times, serif;
}


#fondoimagen {
    background-image: url(/imagenes/avion.jpg);
}

.contenedor1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: space-around;
  background-color: lightslategray;
  height: 50px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

}




.contenedor2{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  
}


.centrar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: space-evenly;
  position: relative;
  height: auto;
  z-index: 0; /* Para que las cards aparezcan por encima de la navbar desplegable, SI NO EL NAVBAR QUEDA POR ABAJO DE LAS CARDS */
} 

.texto {
  margin-top: 20px;
}

.imagen {
  margin-top: 20px;
  width: 450px;
}
@media (max-width: 600px) {
  .cards{
flex-direction: column;
  }
  .container {
    height: 200vh; 
  }
  .texto {
    margin-top: 8vw;
  }
  .imagen {
    margin-top: 8vw;
    width: 90%
  }
    
}

